body {
  font-size: 18px;
}

.title {
  font-family: Roboto-Regular;
  font-weight: bold;
  color: #FFFFFF;
  position: absolute;
  width: 100%;
  text-align: center;
  text-shadow: 3px 0px #09102C;
}

.subTitle {
  font-family: Roboto-Regular;
  font-weight: bold;
  color: #FFFFFF;
  position: absolute;
  width: 100%;
  text-align: center;
}

#intro {
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: Roboto-Regular;
  color: #FFFFFF;
}

#lets_go {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 135%
}

.stages {
  width: 35%;
  position: absolute;
  font-family: Roboto-Regular;
  color: #FFFFFF;
  text-align: center;
}

.content {
  font-family: Roboto-Thin;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
}

#content_1, #content_2 {
  color: #E7C82F;
  font-family: Roboto-Regular;
}

.arrow-point-to-right {
  position: absolute;
  width: 80px;
  height: 80px;
}
