.question0::before{
content: '1. ';
font-size:150%;
}

.question1::before{
content: '2. ';
font-size:150%;
}


.white_arrow{
background-image: url('../assets/ui/bloque_5/white_arrow.png');
width: 10%;
height: 15%;
background-repeat: no-repeat;
background-size: contain;
transform: rotate(90deg);
position: absolute;
left: 43%;
top: 15%;
animation-name: white_arrow;
animation-iteration-count: 3;
animation-duration: 1s;}

.arrow_animation{
animation-name: white_arrow;
animation-iteration-count: 3;
animation-duration: 1s;

}

.arrow_animation2{
animation-name: white_arrow2;
animation-iteration-count: 3;
animation-duration: 1s;

}

@keyframes white_arrow {
  from{
    opacity: .1;
    top:8%;
  }

  50%{
    top:21%;
    opacity:.5;
  }

  to{
    opacity: 1;
    top:15%;
  }
}

@keyframes white_arrow2 {
  from{
    opacity: .1;
    top:8%;
  }

  50%{
    top:21%;
    opacity:.5;
  }

  to{
    opacity: 1;
    top:15%;
  }
}

/*Simulador Global*/

.hide_element{
  display: none;
}

.show_element{
  display: block;
}

#descript_txt{
  margin: 0 10% 0 10%;
  position: absolute;
  top: 30%;
  font-size: 20px;
  font-family: roboto-regular;
  color: #FFFFFF;
  width: 80%;
  text-align: center;
}
