.slider > div{
	position: absolute;
}
.slider > .slider_bg{
	top:0;
	width:100%; height:30px;
	background: url(../assets/ui/slider_bg.png);
	background-size: auto 100%;
}
.slider > .slider_knob{
	top:0;
	width:30px; height:30px;
	background: url(../assets/ui/slider_knob.png);
	background-size: 100% 100%;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
}
.slider > .slider_knob:active{
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}
