
.intro {
  font-size: 14px;

}

.title{
  font-size: 40px;

}

.sin_margen{
  margin: 0 0 0 0;
  font-family: "Roboto-Regular";
}

.recuadro_blanco{

}

@media (min-width:1101px)  {
  .intro{ font-size: 14px; }
  .title{ font-size: 40px; }

  #COPYRIGTH_{

    background-image: url('../assets/ui/COPYRIGTH_100X100.png');
    height: 50px;
    width: 400px;
    background-repeat: no-repeat;
    margin: 1%;
    position: fixed;
    right: 0%;
    bottom: 01%;
    z-index: 2;
    display: inline;

  }

  #CoppelLogo{
    margin: .5% 1% 1% 1%;;
    background-size:100%;
    width: 20%;
  }
}

@media  (max-width: 1100px)  {
  .intro{ font-size: 9px; }
  .title{ font-size: 20px; }

  #COPYRIGTH_{
    background-image: url('../assets/ui/COPYRIGTH_60 X60.png');
    left: 70%;
    height: 50px;
    width: 400px;
    background-repeat: no-repeat;
    margin: 0.5%;
    position: fixed;
    right: 0%;
    bottom: 01%;
    z-index: 2;
    display: inline;

  }

  #CoppelLogo{
    margin: 0;
    background-size:100%;
    width: 20%;
  }
}
