.circulos{
  border-radius: 50%;
background-color: white;
width: 2.5%;
height: 45%;
align-self: center;
display: inline-block;
margin: 1.6% 1% 2% 1%;
border-color: white;
}

#container{
  position: fixed;
  bottom: 0%;
  height: 10%;
  width: 100%;
  background-color: #3B3038;
  text-align: center;
  z-index: 2;
}
